* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00296b;
}

h1,
h2,
h4,
p,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 13px 33px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: #00296b;
  border: 1px solid #00296b;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #00296b;
  color: white;
  transition: 0.4s;
}
